# Исключаем настройки PHPStorm, мы в нём работаем
/.idea/
/.vscode/

# Исключаем из гита битриксовые файлы
/bitrix/*
/bitrix/templates/landing24/

# Но не папку с шаблоном и не небитриксовые компоненты
!/bitrix/templates
!/bitrix/components
/bitrix/components/bitrix

#Exclude bitrix gadgets
!/bitrix/gadgets
/bitrix/gadgets/bitrix


!/bitrix/php_interface/

# Исключаем конфиги базы
/bitrix/php_interface/dbconn.php

# Исключаем дефолтную директорию медиафайлов
/upload/*

# различные системные папки и файлы хостингов и операционных систем
/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# архивы, включая многотомные
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.gif
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch

# files ext
*.tar.gz
*.mp3
*.mp4
*.webm
*.mov
*.MOV
*.wav
*.flv
*.db
*.txt
*.text
*.log
*.config
*.xml
*.tbk

# однако храним robots.txt — он нужен
!/robots.txt

# исключаем всякое от node.js
node_modules
bower_components
.grunt
.npm
.env

# composer
composer.phar
/vendor/*
/local/vendor/*
/files/*
.well-known/*
/integration/contacts/settings.php
/integration/contacts/logs/*

!/bitrix/php_interface/migrations/*
!/bitrix/php_interface/migrations/.xml
!/local/php_interface/migrations/*/*.xml
!/local/php_interface/migrations/*/*.xml