.toolbar-skeleton {
	width: 100%;
	height: 78px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.toolbar-skeleton__page-title {
	width: 336px;
	height: 13px;
	background-color: rgba(var(--composite-base-skeleton-color), 0.28);
	border-radius: 2px;
	margin-right: 26px;
}

.toolbar-skeleton__add-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 119px;
	height: 34px;
	margin-right: 12px;
	padding: 0 14px;
	border-radius: 10px;
	background-color: #1CAE6A;
}

.toolbar-skeleton__add-button-text {
	width: 58px;
	height: 8px;
	margin-right: 12px;
	background-color: #fff;
	opacity: 0.2;
	border-radius: 2px;
}

.toolbar-skeleton__search {
	box-sizing: border-box;
	width: 368px;
	height: 34px;
	padding: 3px 4px;
	background-color: rgba(var(--composite-base-skeleton-color), 0.3);
	border-radius: 8px;
}

.toolbar-skeleton__search-tile {
	box-sizing: border-box;
	width: 103px;
	height: 28px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 14px;
	border-radius: 6px;
	background-color: rgba(var(--composite-base-skeleton-color), 0.2);
}

.toolbar-skeleton__search-tile-text {
	width: 58px;
	height: 8px;
	border-radius: 2px;
	background-color: rgba(var(--composite-base-skeleton-color), 0.3);
}

.toolbar-skeleton__icon-buttons {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
	gap: 0 12px;
}

.toolbar-skeleton__icon-button {
	width: 34px;
	height: 28px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: rgba(var(--composite-base-skeleton-color), 0.28);
}

.toolbar-skeleton__icon-button-text {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgba(var(--composite-base-skeleton-color), 0.28);
}
