.doctors-list__title {
    text-align: center;
    margin-bottom: 40px;
}

.doctors-list__actions {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}


.doctors-list__action {
    padding: 4px 20px;
    background: #dfe0e3;
    border: 1px solid #c9ccd0;
    border-radius: 5px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}

.doctors-list__items {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.doctors-list__item {
    flex: 0 0 200px;
    display: flex;
}

.doctors-list__item-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ccc;
    text-align: center;
    padding: 20px;
}

.doctor-detail__actions{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.doctor-detail__action {
    padding: 4px 20px;
    background: #dfe0e3;
    border: 1px solid #c9ccd0;
    border-radius: 5px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}

.doctor-edit-form__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
}

.doctor-edit-form__input-text {
    height: 35px;
    padding: 0 16px;
}

.doctor-edit-form__submit {
    height: 35px;
    cursor: pointer;
}